gunicorn
numpy
flask
joblib
scikit-learn
Image
torch
torchvision 
opencv-python==4.4.0.42
argparse
logging
abstractmethod
json
Counter
DataLoader
Bleu
Meteor
Rouge
VisualExtractor
EncoderDecoder
