gunicorn
torch
numpy
opencv-python~=4.7.0.72
pandas
Pillow
torchvision
numpy
flask
joblib
scikit-learn
pycocoevalcap
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
kiwisolver
matplotlib
packaging
pyparsing
python-dateutil
pytz
requests
scipy
seaborn
six
threadpoolctl
typing_extensions
urllib3


